{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Responsive image">
        </div>
        <h3>I'm <strong>{{ .Site.Params.author }}</strong>, a Software Engineer currently in my Junior year at colgate.  I love all things computer science with an great interest in animation, AR and VR.  Site is still under construction, <a href="{{ .Site.BaseURL }}projects/"> projects</a> and portfolio coming soon.</h3>
        <h3>For more check out my academic &amp; professional <a href="{{ .Site.BaseURL }}resume/">resume</a>.</h3>
        <h3>Contact me by <a href="mailto:{{ .Site.Params.Social.Email }}">email</a>.</h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
